.payment-grid {
    display: grid;
}

.payment-transfer {
    column-gap: 52px;
    grid-template-areas:
        "payment-unity payment-method-voucher"
        "payment-amount payment-method-voucher"
        "payment-note payment-method-voucher"
        "payment-button payment-button";
    grid-template-columns: 1fr 1fr;
}

.payment-cash {
    grid-template-areas:
        "payment-unity"
        "payment-amount"
        "payment-method-voucher"
        "payment-note"
        "payment-button";
    grid-template-columns: 1fr;
}

.payment-unity {
    grid-area: payment-unity;
}

.payment-amount {
    grid-area: payment-amount;
}

.payment-note {
    grid-area: payment-note;
}

.payment-method-voucher {
    grid-area: payment-method-voucher;
}

.payment-button {
    grid-area: payment-button;
}