name: Deployment FrontEnd

on: 
  push: 
   branches: [main,dev,11-create-deploy-task]
   paths:
    - 'frontend/**'
  pull_request:
   branches: [main,dev]
   types: [opened, synchronize]
   paths:
    - 'frontend/**'

jobs:

  avoid_reduncy:
   runs-on: ubuntu-22.04
   steps:
    - name: Cancel Previous Redundant Builds
      uses: styfle/cancel-workflow-action@0.9.1
      with:
       access_token: ${{ github.token }}      


  eslint: 
   runs-on: ubuntu-20.04
   steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        path: 'frontend/**'  
    - uses: actions/setup-node@v3
      with:
        cache: 'npm'
        cache-dependency-path: frontend/
        node-version: 16
    - name: Install dependencies   
      run: npm ci 
    - name: Run Eslint in all frontend files
      run: npm run eslint
       

# jobs:
#   hello_world:
#     runs-on: ubuntu-18.04
#     steps:
#       - name: Echo the message
#         run: |
#           echo "Modifico frontend"
    

# name: Say hello

# on:
#   push:
#     branches:
#       - 11-create-deploy-task

# jobs:
#   hello_world:
#     runs-on: ubuntu-18.04
#     steps:
#       - name: Echo the message
#         run: |
#           echo "Hola midu!"
#       - name: Dime la fecha
#         run: date
#       - run: ls -l